@model CoolApp.Models.Account.LoginModel
<h3>LOGIN</h3>
<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {id = "frmUserLogin", @class = "validatable"}))
    {
        @Html.HiddenFor(x => x.ReturnUrl)
        @Html.AntiForgeryToken()
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            @Html.EditorFor(x => x.UserName)
        </div>

        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            @Html.EditorFor(x => x.Password)
        </div>

        <label class="checkbox" for="RememberMe">
            @Html.EditorFor(x => x.RememberMe)Remember-me
        </label>

        <button type="submit" class="btn btn-primary pull-right">Login</button>
        <div class="clearfix"></div>
    }
</div>
