@model CoolApp.Models.ChatViewModel
@section Styles{
   @Styles.Render("~/Content/less/global/chat.less")
}
<label>Hello @Model.ChatUser.Username</label>
<ul>
    @foreach (var user in Model.ListChatUsers.ChatUsers) {
        <li><a href="#" data-username="@user.Username" data-action="chat" data-online="true">Chat With @user.DisplayName</a><label id="@String.Format("online-message-{0}",user.Username)" style="display: none;">Online</label></li>
    }
</ul>
        
@section PostScripts{
    @Scripts.Render(
        "~/Scripts/libs/jquery/jquery.signalR-1.1.2.min.js", 
        "/signalr/hubs", "~/Scripts/custom/Chat.js"
        //"~/Scripts/custom/CoolApp.js"
        )
}